.btn-primary{
    text-transform: uppercase;
    outline: 0;
    background: var(--color-primary);
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    min-width: 13rem;
    cursor: pointer;
    margin: 2px 0;
    border-radius: 4px;
}

.btn-primary:hover{
    background-color: var(--color-tertiary);
}