.homepage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    background: -webkit-linear-gradient(to right, var(--color-primary), var(--color-secondary)); 
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary)); 
}

.homepage h1{
    font-size: 4rem;
}

.homepage p{
    font-size: 2rem;
}